*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.container .output-container {
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  height: 140px;
  width: 300px;
  padding: 8px;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 12px;
  word-break: break-word;
  text-align: right;
}

#output {
    
}

.input {
  display: flex;
  flex-direction: column;
}

.input .input-row {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.input .input-row button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100%/4);
  height: 70px;
  font-size: 1.25rem;
}

.input .input-row button:last-child {
  background-color: rgba(200, 0, 0, 0.65);
  font-size: 1.5rem;
}

.input .input-row button[class='two-span'] {
  width: 50%;
}

#result {
    display: none;
    margin-top: 5px;
}

#calculate[disabled], #dot[disabled]{
  color: rgba(0,0,0,1.0);
  cursor: pointer;
}

.output-container {
    overflow-y: scroll;
}